* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar{
    background: #ffe9c5;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;

}

.logo span{
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.nav-menu{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-menu a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: relative;       
    padding-bottom: 5px;      
    transition: color 0.3s ease;
}

.nav-menu a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: #ff7b00;
    transition: 0.3s ease;
}

.nav-menu a:hover{
    color: #d2691e;
}

.nav-menu a:hover::after{
    width: 100%;
}

.nav-menu a.active{
    color: #ff7b00;
}

.nav-menu a.active::after{
    width: 100%;
}

.contact {
    padding: 60px 80px;
    background-color: #fff7ed;
}

.contact h1 {
    text-align: center;
    color: #ff7a00;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 40px;
}

.contact-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-info {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-info h3,
.contact-info h4 {
    color: #ff7a00;
}

.contact-info p {
    color: #444;
    line-height: 1.6;
}

.btn-wa {
    display: inline-block;
    margin-top: 15px;
    background-color: #25D366;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.btn-wa:hover {
    background-color: #1ebe5b;
}

.contact-form {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.contact-form h3 {
    color: #ff7a00;
    margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea { 
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.contact-form button{
    width: 100%;
    background-color: #ff7a00;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.contact-form button:hover {
    background-color: #e86f00;
}

.footer{
    background-color: #ffefe0;
    padding: 40px 20px;
    text-align: center;
    border-top: 3px solid #ff8c1a;
}

.footer p{
    margin: 8px 0;
    color: #555;
}